/* settings global */
.colorButton{
    background: rgb(0, 200, 62);
}

/* settings general */
.logo{
    width: 400px;
    padding-bottom: 40px;
}

.logoNav{
    height:30px;
}

body{
    background: #eeeeee;
}

section{
    width: 100%;
    height: 100vh;
}

.navgeneral{
    background: #00a616;
    position: fixed;
    width: 100%;
}

.contenidoLogin{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.contenidoRegister{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

@media screen and (max-width:400px) {
    .logo{
        width: 300px;
    }

    .contenidoRegister{
        padding-top: 40%;
    }
}